ekf_filter_node:
  ros__parameters:
    frequency: 30.0
    sensor_timeout: 0.5
    two_d_mode: true

    publish_tf: true
    publish_acceleration: false

    world_frame: odom
    odom_frame: odom
    base_link_frame: base_link

    use_control: false
    stamped_control: false

    # ================= Wheel Odometry =================
    odom0: /wheel/odometry
    odom0_differential: true
    odom0_relative: false

    odom0_config:
      [
        true,
        true,
        false,
        false,
        false,
        true,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
      ]

    estimate_twist: false
    odom0_queue_size: 10

    # ================= Process Noise =================
    process_noise_covariance:
      [
        0.05,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.05,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.5,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.5,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.5,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.0,
        0.1,
      ]

    initial_state:
      x: 0.0
      y: 0.0
      yaw: 0.0
