ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    sensor_timeout: 0.1
    two_d_mode: true
    publish_tf: true
    publish_acceleration: false

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom

    # ================= IMU =================
    imu0: /imu/data
    imu0_config: [
        false,
        false,
        false, # x y z
        false,
        false,
        true, # roll pitch yaw
        false,
        false,
        false, # vx vy vz
        false,
        false,
        true, # vroll vpitch vyaw
        true,
        false,
        false, # ax ay az
      ]
    imu0_differential: false
    imu0_relative: false
    imu0_queue_size: 10
    imu0_remove_gravitational_acceleration: true

    # ================= Wheel Odometry =================
    odom0: /wheel/odometry
    odom0_config: [
        true,
        true,
        false, # x y z
        false,
        false,
        true, # roll pitch yaw
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
      ]
    odom0_differential: false
    odom0_relative: false
    odom0_queue_size: 10

    process_noise_covariance: [
    0.05, 0.0, 0.0,  0.0, 0.0, 0.0,
    0.0, 0.05, 0.0,  0.0, 0.0, 0.0,
    0.0, 0.0, 1e6,  0.0, 0.0, 0.0,
    0.0, 0.0, 0.0,  1e6, 0.0, 0.0,
    0.0, 0.0, 0.0,  0.0, 1e6, 0.0,
    0.0, 0.0, 0.0,  0.0, 0.0, 0.02
  ]

